<!DOCTYPE html>
<html>
    <head>
        <title>Bidniz!</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,800" />
        <style>
            #nav {
                background: #FF416C;
                background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
                background: linear-gradient(to right, #FF4B2B, #FF416C);
                background-repeat: no-repeat;
                background-size: cover;
                height: 50px;
                border-radius: 10px;
                width: auto;

            }
            li {
                display: inline;
                padding: 50px;    
            }

            
            #header {
                text-align: center;
                
            }

            body {
                background: #f6f5f7;

                font-family: 'Montserrat', sans-serif;
            }

            .container {
	            background: #FF416C;
                background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
                background: linear-gradient(to right, #FF4B2B, #FF416C);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                        0 10px 10px rgba(0,0,0,0.22);
                margin-top: 20px;
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            a {
                color: #000;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>Bidniz!</h1>
            <div id="nav">
                <ul>
                <li><%= link_to "Dashboard", user_path(current_user)%></li>
                <li><%= link_to "My Businesses", user_businesses_path(current_user) %></li>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
                </ul>
            </div>
        </div>
        <div class="container" id="container">
            <% if logged_in? %>
                <h2>All Businesses for Sale </h2>
                <% @businesses.latest.each do |b| %>
                    <p><%= b.name %></p>
                <% end %>
            <% end %>
        </div>
    </body>
</html>
